body {
  font-family: "Verdana";
  font-weight: 400;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header__nav {
  max-width: 72rem;
  margin: auto;
}

.header__ul {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  height: 2rem;
  padding-left: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 2.5rem;
}

.header__li {
  list-style-type: none;
  height: 2rem;
}

.header__a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.header__logo {
  color: #335576;
  font-weight: bold;
  font-size: larger;
}

.header__a--adjust {
  padding-right: 0;
}

.footer {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
  height: 12.5rem;
}

.footer__title,
.footer__content {
  color: #335576;
}

.footer__subtitle {
  color: #db7a4e;
  font-size: x-small;
}

.footer__subtitle-adjust {
  margin-top: 0;
}

.footer__hours--container {
  display: flex;
}

.footer__hours {
  margin-top: 2rem;
}
.footer__hours--2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer__contact {
  margin-left: 6.75rem;
  margin-top: 2rem;
}

.footer__social {
  margin-right: 5.75rem;
  margin-top: 2rem;
}

.footer__social--icon {
  height: 1.5rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
}
